.navigation {
  background-color: #3b3d42;
  padding: 5px;
  text-align: center;
  width: 100%;
}
ul {
  margin: 0;
}
li {
  display: inline-block;
  margin: 3px;
}
a {
  color: #ffffff;
  text-decoration: none;
  padding: 30px;
  font-family: Calibri;
  font-weight: 100;
  font-size: 15px;
}
a:hover {
  color: #75787c;
}
.apple {
  font-size: 25px;
}
